<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="diffbot_ros2_control" params="name prefix use_mock_hardware">

    <ros2_control name="${name}" type="system">
      <xacro:unless value="${use_mock_hardware}">
        <hardware>
          <plugin>diffbot_control/DiffBotSystemHardware</plugin>
          <param name="example_param_hw_start_duration_sec">0</param>
          <param name="example_param_hw_stop_duration_sec">3.0</param>
          <param name="left_wheel_name">left_wheel_joint</param>
          <param name="right_wheel_name">right_wheel_joint</param>
          <param name="imu_name">mpu_6050</param>
          <param name="loop_rate">30</param>

          <!-- First Arduino for motor command and encoder reading -->
          <param name="device_motor_bridge">
            /dev/serial/by-id/usb-Arduino__www.arduino.cc__0043_557393239373515181E1-if00</param>
          <!-- Second Arduino for IMU reading -->
          <param name="device_imu_bridge">
            /dev/serial/by-id/usb-Arduino__www.arduino.cc__0043_75735353338351E050A1-if00</param>

          <!-- <param name="device">/dev/ttyACM0</param> -->
          <param name="baud_rate">57600</param>
          <param name="timeout_ms">1000</param>
          <param name="enc_counts_per_rev">425</param>
          <param name="imu_calib_timeout_ms">100000</param>
          <param name="pid_p">10</param>
          <param name="pid_d">0</param>
          <param name="pid_i">5</param>
          <param name="pid_o">0</param>

        </hardware>
      </xacro:unless>
      <xacro:if value="${use_mock_hardware}">
        <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
      </xacro:if>
      <joint name="${prefix}left_wheel_joint">
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="${prefix}right_wheel_joint">
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <!-- <sensor name="mpu_6050" type="sensor">
        <state_interface name="orientation.x"/>
        <state_interface name="orientation.y"/>
        <state_interface name="orientation.z"/>
        <state_interface name="angular_velocity.x"/>
        <state_interface name="angular_velocity.y"/>
        <state_interface name="angular_velocity.z"/>
        <state_interface name="linear_acceleration.x"/>
        <state_interface name="linear_acceleration.y"/>
        <state_interface name="linear_acceleration.z"/>
        <param name="frame_id">mpu_6050_frame</param>
      </sensor> -->


    </ros2_control>

    <xacro:if value="${use_mock_hardware}">
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find slam_bot)/config/diffbot_controllers.yaml</parameters>
      </plugin>
    </xacro:if>

  </xacro:macro>

</robot>