<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="libgazebo_ros_p3d.so" name="quadrotor_groundtruth_sim">
            <ros>
                <namespace>p3d</namespace>
                <remapping>odom:=ground_truth</remapping>
            </ros>
            <frame_name>map</frame_name>
            <body_name>base_link</body_name>
            <update_rate>200.0</update_rate>
            <gaussian_noise>0.01</gaussian_noise>
        </plugin>
    </gazebo>
</robot>