<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="sim_mode" default="false" />
  <xacro:arg name="use_ros2_control" default="true"/>

  <xacro:include filename="$(find slam_bot)/description/urdf/robot_core.xacro" />

  <xacro:include filename="$(find slam_bot)/description/urdf/inertial_macros.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find slam_bot)/description/urdf/diffbot.materials.xacro" />

  <xacro:include filename="$(find slam_bot)/description/urdf/imu.xacro" />
  <xacro:include filename="$(find slam_bot)/description/urdf/depth_camera.xacro" />

  <!-- <xacro:if value="$(arg sim_mode)"> -->
    <xacro:include filename="$(find slam_bot)/description/urdf/gazebo_ground_truth.xacro" />
  <!-- </xacro:if> -->

  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="$(find slam_bot)/description/ros2_control/ros2_control.xacro" />
    <xacro:diffbot_ros2_control
      name="DiffBot" prefix="$(arg prefix)" use_mock_hardware="$(arg sim_mode)"/>
  </xacro:if>
  <xacro:unless value="$(arg use_ros2_control)">
    <xacro:include filename="$(find slam_bot)/description/ros2_control/gazebo_control.xacro" />
  </xacro:unless>

  <xacro:diffbot prefix="$(arg prefix)" />

 
</robot>
