<?xml version="1.0"?>
<robot name="omnibot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="true" />
  
  <xacro:arg name="robot_name" default="omnibot"/>

  <xacro:include filename="$(find slam_bot)/description/omni_urdf/common.xacro"/>
  <xacro:include filename="$(find slam_bot)/description/omni_urdf/base/base.urdf.xacro"/>
  <xacro:include filename="$(find slam_bot)/description/omni_urdf/wheel/wheel_100mm_light.urdf.xacro"/>

  <xacro:include filename="$(find slam_bot)/description/omni_urdf/omnibot.gazebo.xacro"/>
  <xacro:include filename="$(find slam_bot)/description/ros2_control/omnibot.ros2_control.xacro"/>

  <!-- =============== Link & Joint =============== -->
  <!-- Base -->
  <link name="base_link"/>
  <xacro:base_v0 parent="base_link">
	<origin xyz="0 0 0.06"/>
  </xacro:base_v0>

  <!-- Wheel -->
  <!-- Wheel0 -->
  <xacro:omni_wheel prefix="wheel0" parent="base_link">
	  <origin xyz="0.15 0.15 0.05" rpy="0 ${pi/2} ${pi/4}"/>
  </xacro:omni_wheel>

  <!-- Wheel1 -->
  <xacro:omni_wheel prefix="wheel1" parent="base_link">
	  <origin xyz="-0.15 0.15 0.05" rpy="0 ${pi/2} ${pi*3/4}"/>
  </xacro:omni_wheel>

  <!-- Wheel3 -->
  <xacro:omni_wheel prefix="wheel2" parent="base_link">
	  <origin xyz="-0.15 -0.15 0.05" rpy="0 ${pi/2} ${-pi*3/4}"/>
  </xacro:omni_wheel>

  <!-- Wheel2 -->
  <xacro:omni_wheel prefix="wheel3" parent="base_link">
	  <origin xyz="0.15 -0.15 0.05" rpy="0 ${pi/2} ${-pi/4}"/>
  </xacro:omni_wheel>

  <!-- Base -->
  <xacro:base_gazebo_v0/>

  <!-- Wheel -->
  <!--<xacro:wheel_gazebo_v0 prefix="right"/>-->
  <!--<xacro:wheel_gazebo_v0 prefix="left"/>-->
  <!--xacro:wheel_gazebo_control_v0 rate="25"/-->

  <!-- <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="camera_link"/>
    <origin xyz="0.45 0 0.28" rpy="0 0 0"/>
  </joint>
  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 -1.57 0" />
      <geometry>
        <cylinder radius="0.01" length="0.01" />
      </geometry>
      <material name="white" />
    </visual>
  </link>
   -->

  <xacro:include filename="$(find slam_bot)/description/omni_urdf/depth_camera.xacro"/>
  <xacro:include filename="$(find slam_bot)/description/omni_urdf/imu.xacro"/>
  <!-- <xacro:include filename="$(find slam_bot)/description/omni_urdf/lidar.xacro"/> -->

  <xacro:omnibot_gazebo prefix=""/>
  <xacro:omnibot_ros2_control name="omnibot" use_sim="$(arg use_sim)"/>

</robot>